<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<section class="cv-section" id="cv">
    <h1 class="title">
        <span class="gradient-text">My Curriculum Vitae</span>
    </h1>

    <div class="click-here">
        <img src="/static/image/cv.png" class="cv-image">
        <div class="photo-wrapper">
            <img src="/static/image/photo.png" class="photo-image">

            <a href="/static/image/KhlokRathana.pdf" download class="download-btn">
                Download CV
            </a>
        </div>
    </div>
</section>

</body>
</html>