<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<section class="education-section" id="education">
    <h1 class="title">
        <span class="gradient-text">My Educations</span>
    </h1>

    <div class="card">
        <div class="card-content">
            <h2>SETEC Institute</h2>
            <p class="year">📅 2022 - Present</p>
            <p class="text">
                University life at SETEC Institute has been both exciting and challenging. I have actively participated
                in projects, hands-on assignments, which have helped me apply theoretical knowledge to
                practical situations. Networking with like-minded peers and professors has enriched my learning
                experience and inspired me to improve continuously. Each day at SETEC provides opportunities to grow
                academically, enhance my technical skills, and prepare for a successful career in the field of
                Management Information Systems.
            </p>
        </div>

        <div class="card-image">
            <img src="/static/image/setec.jpg" alt="SETEC Institute">
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h2>Pannasastra University of Cambodia (PUC)</h2>
            <p class="year">📅 2025 - Present</p>
            <p class="text">
                I am currently a student at PUC – Institute of Foreign Languages, focusing on General English. My
                studies help me improve my reading, writing, listening, and speaking skills, while also enhancing my
                communication and critical thinking abilities. Through classroom activities, projects, and interactions
                with peers and instructors, I gain practical experience in using English in everyday and professional
                situations. Studying at PUC allows me to grow academically, build confidence in my language abilities,
                and prepare for future opportunities in education, business, or international environments.
            </p>
        </div>

        <div class="card-image">
            <img src="/static/image/puc.jpg" alt="SETEC Institute">
        </div>
    </div>
</section>

</body>
</html>