<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<section class="section-project" id="projects">
    <h1 class="title">
        <span class="gradient-text">My Projects</span>
    </h1>
    <div class="team-card">
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    E-Commerce API</h2>
                <p>
                    The E-Commerce API is a RESTful web service built using Python that allows users to manage products,
                    categories, customers, orders, and payments in an online shopping system.
                    This API provides secure endpoints for performing CRUD operations and handles authentication,
                    authorization, and order processing.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/ecom-api" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    {#                    <div class="github-wrapper">#}
                    {#                        <a href="#" class="view">#}
                    {#                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"#}
                    {#                                 class="btn-icon-github">#}
                    {#                        </a>#}
                    {#                        <span class="tooltip">View Demo</span>#}
                    {#                    </div>#}
                </div>


            </div>
        </div>
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    Web API Product</h2>
                <p>
                    Web API Product is a backend RESTful API application developed using Spring Boot.
                    The system is designed to manage product-related data, typically supporting CRUD operations (Create,
                    Read, Update, Delete).
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/web-api-product" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    {#                    <div class="github-wrapper">#}
                    {#                        <a href="#" class="view">#}
                    {#                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"#}
                    {#                                 class="btn-icon-github">#}
                    {#                        </a>#}
                    {#                        <span class="tooltip">View Demo</span>#}
                    {#                    </div>#}
                </div>


            </div>
        </div>
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    Coffee Shop HTML Telegram Bot</h2>
                <p>
                    Coffee Shop HTML Telegram Bot is a Spring Boot application that combines a web-based HTML interface
                    for a coffee shop with a Telegram bot integration. The project enables users to view the menu, make
                    reservations online, and interact with the coffee shop via Telegram.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/coffee-shop-html-telegram-bot" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    {#                    <div class="github-wrapper">#}
                    {#                        <a href="#" class="view">#}
                    {#                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"#}
                    {#                                 class="btn-icon-github">#}
                    {#                        </a>#}
                    {#                        <span class="tooltip">View Demo</span>#}
                    {#                    </div>#}
                </div>


            </div>
        </div>
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    A Personal Portfolio Website</h2>
                <p>
                    This project is a personal portfolio website — a small web application that lets you show your
                    skills and projects in a professional web format. It combines frontend elements (HTML/CSS/JS) with a
                    simple backend (Python) to deliver a live portfolio page that can be shared with others, such as
                    recruiters or tech communities.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/portfolio" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    {#                    <div class="github-wrapper">#}
                    {#                        <a href="#" class="view">#}
                    {#                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"#}
                    {#                                 class="btn-icon-github">#}
                    {#                        </a>#}
                    {#                        <span class="tooltip">View Demo</span>#}
                    {#                    </div>#}
                </div>


            </div>
        </div>
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    LN Coffee Shop</h2>
                <p>
                    LN‑Coffee‑Shop is a Flask-based web application that showcases a coffee shop’s menu, including hot
                    drinks, iced drinks, non-coffee beverages, and desserts. It features dynamic product listings, a
                    simple checkout system with currency conversion, and uses HTML, CSS, and JavaScript for a responsive
                    frontend. The project demonstrates basic e-commerce functionality with backend-managed product data
                    and potential email integration for orders.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/LN-Coffee-Shop" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    <div class="github-wrapper">
                        <a href="https://youtu.be/gvuCKUDyWtg" class="view">
                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"
                                 class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Demo</span>
                    </div>
                </div>


            </div>
        </div>


    </div>

</section>


</body>
</html>