<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<section class="section-project" id="projects">
    <h1 class="title">
        <span class="gradient-text">My Projects</span>
    </h1>
    <div class="team-card">
        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    E-Commerce API</h2>
                <p>
                    The E-Commerce API is a RESTful web service built using Python that allows users to manage products,
                    categories, customers, orders, and payments in an online shopping system.
                    This API provides secure endpoints for performing CRUD operations and handles authentication,
                    authorization, and order processing.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/ecom-api" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    <div class="github-wrapper">
                        <a href="#" class="view">
                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"
                                 class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Demo</span>
                    </div>
                </div>


            </div>
        </div>

        <div class="member">
            <div class="member-info">
                <h2 class="project-heading">
                    <img src="https://cdn-icons-png.flaticon.com/128/2697/2697432.png" class="project">
                    E-Commerce API</h2>
                <p>
                    The E-Commerce API is a RESTful web service built using Python that allows users to manage products,
                    categories, customers, orders, and payments in an online shopping system.
                    This API provides secure endpoints for performing CRUD operations and handles authentication,
                    authorization, and order processing.
                </p>
                <div class="parent">
                    <div class="github-wrapper">
                        <a href="https://github.com/khlokrathana02-maker/ecom-api" class="view">
                            <img src="/static/image/github.png" alt="github" class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Code</span>

                    </div>
                    <div class="github-wrapper">
                        <a href="#" class="view">
                            <img src="https://cdn-icons-png.flaticon.com/128/1384/1384012.png" alt="github"
                                 class="btn-icon-github">
                        </a>
                        <span class="tooltip">View Demo</span>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>


</body>
</html>