<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<section class="container-skill" id="skills">
    <h1 class="title">
        <span class="gradient-text">My Learning</span>
    </h1>
    <h2 class="languages-heading">
        <img src="/static/image/coding.png" class="languages">
        Languages
    </h2>
    <div class="tech-grid">
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java">
            <span>Java</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                 alt="JavaScript">
            <span>JavaScript</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5">
            <span>HTML5</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3">
            <span>CSS3</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python">
            <span>Python</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MySQL">
            <span>MySQL</span>
        </div>
        <div class="tech-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Dart_logo.png/500px-Dart_logo.png"
                 alt="MySQL">
            <span>Dart </span>
        </div>
    </div>

    <h2 class="languages-heading">
        <img src="/static/image/Framework.png" class="languages">
        Frameworks
    </h2>
    <div class="tech-grid">
        <div class="tech-item">
            <img src="/static/image/flask.png" alt="Java">
            <span>Flask</span>
        </div>
        <div class="tech-item">
            <img src="/static/image/springboot.png" alt="JavaScript">
            <span>Spring Boot</span>
        </div>
        <div class="tech-item">
            <img src="https://angular.dev/assets/images/press-kit/angular_icon_gradient.gif" alt="HTML5">
            <span>Angular</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.prod.website-files.com/6047a9e35e5dc54ac86ddd90/63018720eab248248ff88ee3_1bd86e15.png"
                 alt="CSS3">
            <span>Flutter</span>
        </div>
    </div>

    <h2 class="languages-heading">
        <img src="/static/image/tools.png" class="languages">
        Tools & Platforms
    </h2>
    <div class="tech-grid">
        <div class="tech-item">
            <img src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png" alt="Java">
            <span>GitHub</span>
        </div>
        <div class="tech-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/3840px-Visual_Studio_Code_1.35_icon.svg.png"
                 alt="JavaScript">
            <span>Visual Studio Code</span>
        </div>
        <div class="tech-item">
            <img src="/static/image/NetBeans.png"
                 alt="HTML5">
            <span>Apache NetBeans</span>
        </div>
        <div class="tech-item">
            <img src="/static/image/spring.png"
                 alt="CSS3">
            <span>Spring Tool Suite</span>
        </div>
        <div class="tech-item">
            <img src="/static/image/pycharm.png"
                 alt="CSS3">
            <span>PyCharm</span>
        </div>
        <div class="tech-item">
            <img src="/static/image/ws.png"
                 alt="CSS3">
            <span>WebStorm</span>
        </div>
        <div class="tech-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Android_Studio_icon_%282023%29.svg/1280px-Android_Studio_icon_%282023%29.svg.png"
                 alt="CSS3">
            <span>Android Studio</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-postman-logo-icon-svg-download-png-2945092.png"
                 alt="CSS3">
            <span>Postman</span>
        </div>
        <div class="tech-item">
            <img src="https://www.navicat.com/images/Navicat_16_Premium_win_256x256.ico"
                 alt="CSS3">
            <span>Navicat Premium</span>
        </div>
    </div>

    <h2 class="languages-heading">
        <img src="/static/image/web-design.png" class="languages">
        Designs
    </h2>
    <div class="tech-grid-design">
        <div class="tech-item">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968520.png">
            <span>Adobe Photoshop</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn-icons-png.flaticon.com/128/5611/5611037.png"
                 alt="JavaScript">
            <span>Adobe Illustrator</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968525.png">
            <span>Adobe Premiere Pro</span>
        </div>
        <div class="tech-item">
            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968428.png">
            <span>Adobe After Effects</span>
        </div>
        <div class="tech-item">
            <img src="https://upload.wikimedia.org/wikipedia/fr/d/d8/C4D_Logo.png"
                 alt="CSS3">
            <span>Maxon Cinema 4D</span>
        </div>

    </div>
</section>

</body>
</html>